body{ background-color: #B5DAFE;} 
p { color: #4f53a3; } 
h1{ color: rgb(19, 0, 65); }
h5{ color: rgb(30, 0, 99); }
ol,ul {
	list-style: none;
}
#logo {
    float: left;
    text-align: left;
	  margin: 25px;
	  width: 100px;
    height: 50px;
    top: 30px;
	  font-family: sans-serif;
}
#home {
    float: right;
    text-align: left;
	  margin: 40px;
	  width: 50px;
    right: 100px;
    left: 500px;
    height: 50px;
    top: 30px;
	  font-family: sans-serif;
}
#mainMenu {
    position: absolute;
    text-align: center;
	  margin: 15px;
	  width: 500px;
    height: 0px;
    left: 250px;
    top: 0px;
	  font-family: sans-serif;
}
#mainMenu a {
    float: left;
	  display: inline;
	  padding:3px;
    height: 10px;
	  text-decoration:none;
	  background-color:#fff;
	  color:rgb(0, 0, 61);
}
#mainMenu a:hover {
	  background-color:rgb(2, 2, 85);
	  color:#fff;
    height: 15px;
}

#button_reset input[type="button"]
{
 background-color:none;
 width:120px;
 height:50px;
 margin:20px;
 font-size:17px;
 color:white;
 border:none;
}
#button_reset .shadow
{
 background-color:#630b0b;
 transition: all 0.35s ease;
 border-radius:5px;
 display: inline-block;
 top: 125px;
 left: 275px;
 position: absolute;
}	
#button_reset .shadow:hover
{
 border: 1px solid #630b0b;
 background-color:white;
 color:#630b0b;
 box-shadow:0px 0px 25px 0px #630b0b;
}

#button_submit input[type="button"]
{
 background-color:none;
 width:120px;
 height:50px;
 margin:20px;
 font-size:17px;
 color:white;
 border:none;
}
#button_submit .shadow
{
 background-color:#0b631a;
 transition: all 0.35s ease;
 border-radius:5px;
 display: inline-block;
 top: 125px;
 left: 425px;
 position: absolute;
}	
#button_submit .shadow:hover
{
 border: 1px solid #0b631a;
 background-color:white;
 color:#0b631a;
 box-shadow:0px 0px 25px 0px #0b631a;
}

#header {
    height: 100px;
    position: fixed;
    width: 1024px;
    background: white;
    top: 0;
    left: 150px;
    opacity: 1;
    z-index: 9999;
    font-family: sans-serif;
  }
  #content {
    position: relative;
    float: left;
    left: 150px;
    top: 60px;
    padding-top: 50px;
    display:inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    
  }
  #inlog {
    position: relative;
    left: 150px;
    top: 150px;
    padding-top: 50px;
    padding: 30px;
    display:inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 20px;
    border-radius: 10px;
    background-color: #a5c8eb;
  }
  #article1 {
    position: absolute;
    float: left;
    padding: 60px;
    top: 100px;
    left: 90px;
    width: 600px;
    padding-top: 60px;
    font-family: sans-serif;
  }
  #article2 {
    position: absolute;
    float: left;
    padding: 60px;
    top: 650px;
    left: 90px;
    width: 600px;
    padding-top: 60px;
    font-family: sans-serif;
  }
  #content2 {
    background-color: #a5c8eb;
    position: fixed;
    float: right;
    padding: 60px;
    min-height: 400px;
    top: 100px;
    left: 823px;
    width: 232px;
    padding-top: 20px;
    width: 400;
    z-index: 9999;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  #footer {
    background-color: #ffffff;
    position: relative;
    width: 1024px;
    height: 30px;
    margin: 0px;
    top: 850px;
    left: 143px;
    bottom:0;
    padding-top: 10px;
    clear: both;
    z-index: 9999;
    text-align: center;
    font-family: sans-serif;
    color: #4f53a3;
  }